h1{
    color: #5A18C9;
}

h3{
    color: #5A18C9;
}

/*.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
}*/

/*vaihdan actiivisen elementin väriä*/
a :hover, :focus, :active {
    color: blue;

}

img{
    width: 15%;
    lenght: 15%;
}

p{
    margin-left: 20px;
}


.oikeinkuvat{
    display: block;
}

.vaarinkuvat{
    display: block;
}

.click {
    cursor: pointer;
}

.next{
    display: block;

}

.hidden{
    display: none;
}

.formshow{
    display: block;
}

.formhide{
    display: none;

}

.panels{
    list-style-type: none;
    padding: 0;

}

.panels li{
    position: relative;
    width: 25%;
    margin: 0;
    display: block;
    box-sizing: border-box;
    float: left;

}

.panels li div{
    width: 100%;
    padding: 50% 0;
    text-align: center;
    color: #fff;
    cursor: pointer;

}

/*Käytän automaattista animaatiota*/
.panels div.back{
    transform: rotateY(90deg);
    animation: twirl 0.2s 0.2s ease-out forwards reverse;


}

.panels div.front{
    position: absolute;
}


.panels li:hover div.front{

    animation: twirl 0.2s ease-in forwards;

}

.panels li:hover div.back{

    animation: twirl 0.2s 0.2s ease-out forwards reverse;

}


@keyframes twirl{
    0%{ transform: rotateY(0deg)}
    100%{ transform: rotateY(90deg)}
}

